<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Projects</h2>
                    <h3 class="section-subheading text-muted">Sometimes a helper tool needs to be developed to get the job done.
                      Sometimes given part of the application turns out to be generic and useful.
                      Sometimes there is simply an idea and some spare time.
                      In such cases we do our best to turn the code into open source project and share it.</h3>
                </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-6 portfolio-item">
                  <div class="portfolio-caption">
                    <a href="http://milendyankov.com/wedeploy-maven-plugin/" class="portfolio-link" data-toggle="modal">
                      <h4>WeDeploy Maven Plugin</h4>
                    </a>
                    <p class="text-muted">Allows to instantly deploy and run Java applications / microservices in WeDeploy cloud!</p>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 portfolio-item">
                  <div class="portfolio-caption">
                    <a href="http://milendyankov.com/wedeploy-client/" class="portfolio-link" data-toggle="modal">
                      <h4>WeDeploy Java Client</h4>
                    </a>
                    <p class="text-muted">Allows Java applications to talk to WeDeploy cloud services as if those were local ones.</p>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 portfolio-item">
                  <div class="portfolio-caption">
                    <a href="https://github.com/azzazzel/em" class="portfolio-link" data-toggle="modal">
                      <h4>EM (Eccentric Modularity)</h4>
                    </a>
                    <p class="text-muted">Maven extension making it easy to build modular, contract based Java applications</p>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 portfolio-item">
                  <div class="portfolio-caption">
                    <a href="https://github.com/azzazzel/liferay-karaf" class="portfolio-link" data-toggle="modal">
                      <h4>Liferay Karaf compatibility</h4>
                    </a>
                    <p class="text-muted">Make some of the usefull Karaf's functionalities (shell, features, ...) available in Liferay 7</p>
                  </div>
              </div>


              <div class="col-md-4 col-sm-6 portfolio-item ">
                  <div class="portfolio-caption">
                    <a href="https://github.com/azzazzel/Liferay-plugins" class="portfolio-link" data-toggle="modal">
                      <h4>Liferay Deivce Recognition</h4>
                    </a>
                    <p class="text-muted">Liferay extension allowing to recognize user's device and perform device specific actions </p>
                    <div class="unmaintained"></div>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 portfolio-item ">
                  <div class="portfolio-caption">
                    <a href="https://github.com/azzazzel/Liferay-plugins" class="portfolio-link" data-toggle="modal">
                      <h4>Liferay plugins</h4>
                    </a>
                    <p class="text-muted">Collection of free and open source Liferay plugins (Tailgate, CustomGlobalMarkup, UI Taglib Demo)</p>
                    <div class="unmaintained"></div>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 portfolio-item ">
                  <div class="portfolio-caption">
                    <a href="http://jwebthumb.sourceforge.net/" class="portfolio-link" data-toggle="modal">
                      <h4>JWebThumb</h4>
                    </a>
                    <p class="text-muted">Java API for bluga.net's remote API for generating web thumbnails and full size snapshots of websites</p>
                    <div class="unmaintained"></div>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 portfolio-item ">
                  <div class="portfolio-caption">
                    <a href="http://apropos.sourceforge.net/" class="portfolio-link" data-toggle="modal">
                      <h4>APropOS</h4>
                    </a>
                    <p class="text-muted">Allows developers to maintain their application/build/i18n/... properties in a central registry .</p>
                    <div class="unmaintained"></div>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 portfolio-item ">
                  <div class="portfolio-caption">
                    <a href="http://jstopwatch.sourceforge.net/" class="portfolio-link" data-toggle="modal">
                      <h4>Stopwatch</h4>
                    </a>
                    <p class="text-muted">Simple but highly extensible Java library that alows monitoring of any part of the application.</p>
                    <div class="unmaintained"></div>
                  </div>
              </div>
            </div>
        </div>
    </section>
